<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <h3 class="section-subheading text-muted">Let's go!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" data-sb-form-api-token="ba6f6be3-d1ae-4df4-bad4-64892f38b30a">
                    <div class="row">    
                        <div class="col-md-6">
                                <div class="control-group form-group">       
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name"  data-sb-validations="required">
                                    <div data-sb-feedback="name:required"></div>
                                    <p class="help-block text-danger"></p>
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" data-sb-validations="required">
                                    <div data-sb-feedback="email:required"></div>
                                    <p class="help-block text-danger"></p>
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" data-sb-validations="required">
                                    <div data-sb-feedback="phone:required"></div>
                                    <p class="help-block text-danger"></p>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">  
                                    <textarea class="form-control" placeholder="Your Message *" id="message" data-sb-validations="required"></textarea>
                                    <div data-sb-feedback="message:required"></div>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div class="d-none alert alert-success" id="submitSuccessMessage">Form submission successful!</div>
                                <div class="d-none alert alert-danger" id="submitErrorMessage">Form submission failed!</div>
                                <div id="success"></div>
                                <button type="submit" id="submitButton" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
